<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" uiSref="home">
        Open Quiz
      </a>
    </div>
    <div class="text-center h3">
      {{quiz.name}}
    </div>
    <div class="pull-right h4" style="margin-top:-36px;" *ngIf="state==='started'">
      {{timeLeft | date : 'mm:ss'}}
    </div>
  </div>
</nav>
<div class="container">
    <div *ngIf="state === 'created'" class="well bs-component">
      <p>{{quiz.description}}</p>
      <p>
        Topics:
      </p>
      <ul>
        <li *ngFor="let topic of topics">
          {{topic.name}}
        </li>
      </ul>
      <p>
        Questions: {{questions.length}}
      </p>
      <p *ngIf="quiz.totalTimeLimit">
        Time Limit: {{quiz.totalTimeLimit}} minutes
      </p>
      <p class="text-center">
        <button (click)="start()" class="btn btn-primary btn-lg">Start</button>
      </p>
    </div>
    <div *ngIf="state === 'started'">
      <div class="pull-right">
        {{currentQuestionIndex}}/{{questions.length}}
      </div>
      <div>
        <div>
          <div *ngIf="currentQuestion.questionType == 'text'">
            {{currentQuestion.content}}
          </div>
          <div *ngIf="currentQuestion.questionType == 'image'">
            <img [image]="currentQuestion.content"/>
          </div>
          <div *ngIf="currentQuestion.questionType == 'md'">
            <div class="row">
                <markdown [data]="currentQuestion.content"></markdown>
            </div>
          </div>
        </div>
        <div>
          <div *ngIf="currentQuestion.answerType === 'single_select'">
            <div class="row" *ngFor="let answer of currentQuestion.answers">
              <div class="col-md-5 vertical">
                <div class="radio radio-primary margin-top-21">
                  <label>
                    <input type="radio"
                      name="radioAnswers"
                      [value]="answer.id"
                      [(ngModel)]="selectedAnswer">
                    <span class="circle"></span>
                    <span class="check"></span>
                    {{answer.title}}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="currentQuestion.answerType === 'multi_select'">
            <div class="row" *ngFor="let answer of currentQuestion.answers">
              <div class="col-md-5 vertical">
                <div class="checkbox margin-top-21 margin-left-16">
                  <label>
                    <input
                      type="checkbox"
                      name="ansewer-check{{answer.id}}"
                      [(ngModel)]="answer._selected" >
                    <span class="checkbox-material">
                  <span class="check"></span>
                </span>
                   {{answer.title}}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="currentQuestion.answerType === 'text'">
            <input
              type="text"
              required
              id="answerText"
              placeholder="Please "
              name="answerText"
              [(ngModel)]="answerText"
              class="form-control">
            </div>
        </div>
      </div>
      <ul class="pager">
        <li class="previous" *ngIf="currentQuestionIndex!==questions.length-1"><a (click)="skip()">Skip</a></li>
        <li class="next" *ngIf="currentQuestionIndex!==questions.length-1" ><a class="withripple" (click)="next()">Next →</a></li>
        <li class="next" *ngIf="currentQuestionIndex===questions.length-1"><a class="withripple" (click)="finish()">Finish</a></li>
      </ul>
    </div>
    <div *ngIf="state === 'completed'">
      <h1>Congratulations!</h1>
    </div>
</div>
