<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="form" #form="ngForm" (ngSubmit)="form.form.valid" novalidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close()">
            ×
          </button>
          <h4 class="modal-title">
            New Topic
          </h4>
        </div>
        <div class="modal-body">
          <div class="form-group label-floating is-empty">
            <label class="control-label" for="topic-name">
              Topic Name
            </label>
            <input
              class="form-control"
              type="text"
              id="topic-name"
              name="topic-name"
              [(ngModel)]="model.topicName"
            >
          </div>
          <div class="form-group">
            <label class="control-label" for="description">
              Description
            </label>
            <textarea class="form-control" id="description" name="description"
                      [(ngModel)]="model.description"></textarea>
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label" for="question-time-limit">
              Question Time Limit (minutes)
            </label>
            <input
              class="form-control"
              type="text"
              id="question-time-limit"
              name="question-time-limit"
              [(ngModel)]="model.questionTimeLimit"
            >
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label" for="number-of-questions">
              Number of Questions
            </label>
            <input
              class="form-control"
              type="text"
              id="number-of-questions"
              name="number-of-questions"
              [(ngModel)]="model.numberOfQuestions"
            >
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label" for="point-per-question">
              Points per Question
            </label>
            <input
              class="form-control"
              type="text"
              id="point-per-question"
              name="point-per-question"
              [(ngModel)]="model.pointPerQuestion"
            >
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="randomize-questions" [(ngModel)]="model.randomizeQuestions">
              <span class="checkbox-material">
                <span class="check"></span>
              </span>
              Randomize Questions
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="close()">
            Close
          </button>
          <button type="button" class="btn btn-primary">
            Create Topic
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
