<div class="jumbotron">
  <div class="container-fluid">
    <h3 class="pull-left">
      Quizzes
    </h3>
    <button type="button" class="btn btn-default pull-right" (click)="newQuiz()">
      New Quiz
    </button>
  </div>
  <ul class="nav nav-tabs">
    <li>
      <a href="javascript:void(0)">
        Active
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        Completed
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        Draft
      </a>
    </li>
  </ul>
</div>
<div class="container-fluid">
  <div class="well well-lg" *ngFor="let quiz of quizzes">
    <h3>
      <a uiSref="admin.quiz" [uiParams]="{ quizId: quiz.id }">
        {{quiz.name}}
      </a>
    </h3>
    <p>
      {{quiz.description}}
    </p>
  </div>
</div>
