<div class="jumbotron">
  <div class="container-fluid">
    <h3 class="pull-left">
      Quizzes
    </h3>
    <button type="button" class="btn btn-default pull-right" (click)="editQuiz()">
      New Quiz
    </button>
  </div>
  <ul class="nav nav-tabs">
    <li>
      <a href="javascript:void(0)">
        Active
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        Completed
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        Draft
      </a>
    </li>
  </ul>
</div>
<div class="container-fluid">
  <div class="well well-lg" *ngFor="let quiz of quizzes">
    <div class="row">
      <div class="col-md-10">
        <a uiSref="admin.quiz" [uiParams]="{ quizId: quiz.id }">
          <h3>{{quiz.name}}</h3>
        </a>
        <p>{{quiz.description}}</p>
      </div>
      <div class="col-md-2 text-right">
        <button type="button" class="btn btn-default" (click)="editQuiz(quiz)">
          Edit
        </button>
      </div>
    </div>
  </div>
</div>
