<div class="landing">
  <div class="jumbotron">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand padding-horizontal-0" uiSref="home">
          OpenQuiz
        </a>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 landing-hero">
          <div class="landing-hero-container">
            <h2>
              OpenSource Online Examination System
            </h2>
            <p class="text-color-white text-size-24">
              Create online exams and tests using <br/>
              simple OpenQuiz free tools.
            </p>
            <a uiSref="login" class="btn btn-default btn-raised">
              Get Started
            </a>
          </div>
        </div>
        <div class="col-lg-5">
          <img src="/assets/images/landing-hero.png" width="100%"/>
        </div>
      </div>
    </div>
  </div>
  <div class="container landing-content" >
    <h2 class="margin-vertical-25">
      Featured Quizzes
    </h2>
    <div class="row">
      <div class="col-lg-4" *ngFor="let quiz of quizzes">
        <div class="well well-lg">
          <a uiSref="player" [uiParams]="{ quizId: quiz.id }"><h3>{{quiz.name}}</h3></a>
          <p class="text-muted">
            {{quiz.description}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="panel landing-footer margin-vertical-0">
    <div class="panel-body">
      <div class="container">
        <p class="text-muted">
          Code licensed under an MIT-style License.
          <a href="#" target="_blank">
            GitHub Source Code
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
