<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="form" #form="ngForm" (submit)="onSubmit(form, $event)"  novalidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close()">
            ×
          </button>
          <h4 class="modal-title">
            {{isNew() ? 'New Quiz' : 'Edit Quiz'}}
          </h4>
        </div>
        <div class="modal-body padding-top-15">
          <div class="form-group label-floating" [class.is-empty]="!name">
            <label class="control-label" for="quiz-name">
              Quiz Name
            </label>
            <input
              required
              class="form-control"
              type="text"
              id="quiz-name"
              name="quiz-name"
              [(ngModel)]="name"
            >
          </div>
          <div class="form-group">
            <label class="control-label margin-top-0" for="description">
              Description
            </label>
            <textarea class="form-control" id="description" name="description"
                      [(ngModel)]="description"></textarea>
          </div>

          <div class="form-group label-floating" [class.is-empty]="!totalTimeLimit">
            <label class="control-label" for="time-limit">
              Time Limit (minutes)
            </label>
            <input
              class="form-control"
              type="number"
              id="time-limit"
              name="time-limit"
              [(ngModel)]="totalTimeLimit"
            >
          </div>
          <div class="form-group label-floating" [class.is-empty]="!passScore">
            <label class="control-label" for="pass-score">
              Pass Score
            </label>
            <input
              class="form-control"
              type="number"
              id="pass-score"
              name="pass-score"
              [(ngModel)]="passScore"
            >
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="isPublic" [(ngModel)]="isPublic">
              <span class="checkbox-material">
                <span class="check"></span>
              </span>
              Public Quiz
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="close()">
            Cancel
          </button>
          <button type="submit" class="btn btn-raised btn-primary">
            {{isNew() ? 'Create Quiz' : 'Update Quiz'}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
