<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" uiSref="home">
        OpenQuiz
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <!-- <li uiSrefActive="active">
          <a uiSref="admin.dashboard">
            Dashboard
          </a>
        </li>-->
        <li uiSrefActive="active">
          <a uiSref="admin.quizzes">
            Quizzes
          </a>
        </li>
        <!--<li uiSrefActive="active">
          <a uiSref="admin.results">
            Results
          </a>
        </li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown user-dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="user-avatar">
              <img src="{{user.photoURL}}" alt="icon">
            </span>
          </a>
          <div class="dropdown-menu user-dropdown-menu clearfix" role="menu">
            <div class="user-dropdown-menu-container">
              <div class="user-avatar">
                <img src="{{user.photoURL}}" alt="icon">
              </div>
              <div>
                <h5 class="margin-vertical-0 text-overflow">
                  <strong>{{user.displayName}}</strong>
                </h5>
                <p class="margin-vertical-0 text-overflow">
                  {{user.email}}
                </p>
                <div class="margin-top-10">
                  <a class="text-uppercase" role="button" (click)="logout()">
                    <strong>
                      Sign out
                    </strong>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ui-view></ui-view>
