<div class="jumbotron">
  <div class="container-fluid">
    <div class="row margin-top-10">
      <h3 class="col-lg-10">
        Quizzes
      </h3>
      <div class="col-lg-2 text-right">
        <button type="button" class="btn btn-raised btn-default" (click)="editQuiz()">
          New Quiz
        </button>
      </div>
    </div>
  </div>
  <!--<ul class="nav nav-tabs">
    <li>
      <a href="javascript:void(0)">
        Active
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        Completed
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        Draft
      </a>
    </li>
  </ul>-->
</div>
<div class="container-fluid">
  <div class="well well-lg clearfix" *ngFor="let quiz of quizzes.data">
    <div class="pull-left">
      <h4 class="margin-vertical-0">
        <a uiSref="admin.quiz" [uiParams]="{ quizId: quiz.id }">
          {{quiz.name}}
        </a>
      </h4>
      <p>{{quiz.description}}</p>
    </div>
    <div class="pull-right">
      <div class="btn-group">
        <button type="button" class="btn btn-fab btn-primary btn-fab-mini dropdown-toggle" data-toggle="dropdown">
          <i class="material-icons">&#xE5D4;</i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li *ngIf="quiz.isOwner">
            <a role="button" (click)="editQuiz(quiz)">
              Edit
            </a>
          </li>
          <li>
            <a role="button" uiSref="player" [uiParams]="{quizId: quiz.id}">
              Preview
            </a>
          </li>
          <li *ngIf="quiz.isOwner">
            <a role="button" class="text-danger" (click)="deleteQuiz(quiz)">
              Delete
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <pagination></pagination>
</div>
