<div class="jumbotron">
  <div class="container-fluid">
    <div class="row margin-top-10">
      <h3 class="col-lg-10">
        Quizzes
      </h3>
      <div class="col-lg-2 text-right">
        <button type="button" class="btn btn-raised btn-default" (click)="editQuiz()">
          New Quiz
        </button>
      </div>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li>
      <a href="javascript:void(0)">
        Active
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        Completed
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        Draft
      </a>
    </li>
  </ul>
</div>
<div class="container-fluid">
  <div class="well well-lg" *ngFor="let quiz of quizzes">
    <div class="row">
      <div class="col-md-10">
        <h4 class="margin-vertical-0">
          <a uiSref="admin.quiz" [uiParams]="{ quizId: quiz.id }">
            {{quiz.name}}
          </a>
        </h4>
        <p>{{quiz.description}}</p>
      </div>
      <div class="col-md-2 text-right">
        <button type="button" class="btn btn-default btn-sm" (click)="editQuiz(quiz)">
          Edit
        </button>
        <button type="button" class="btn btn-default btn-sm" (click)="deleteQuiz(quiz)">
          Delete
        </button>
      </div>
    </div>
  </div>
  <pagination></pagination>
</div>
