<div class="jumbotron margin-vertical-0">
  <div class="container-fluid">
    <h3>
      {{quiz.name}}
    </h3>
    <p>
      {{quiz.description}}
    </p>
  </div>
  <ul class="nav nav-tabs">
    <li>
      <a href="javascript:void(0)">
        Questions
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        Results
      </a>
    </li>
  </ul>
</div>
<div class="container-fluid">
  <div class="margin-vertical-10">
    <button type="button" class="btn btn-raised btn-primary btn-sm" (click)="editTopic()">
      Add Topic
    </button>
  </div>
  <div class="well well-lg" *ngFor="let topic of topics">
    <div class="row">
      <div class="col-md-10">
        <h4 class="margin-vertical-0">
          <a uiSref="admin.topic" [uiParams]="{ quizId: quiz.id, topicId: topic.id }">
            {{topic.name}}
          </a>
        </h4>
        <p>{{topic.description}}</p>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-default btn-sm" (click)="editTopic(topic)">
          Edit
        </button>
        <button type="button" class="btn btn-default btn-sm" (click)="deleteTopic(topic)">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
