<div class="jumbotron">
  <div class="container-fluid">
    <h3>
      {{quiz.name}}
    </h3>
    <p>
      Some description
    </p>
  </div>
  <ul class="nav nav-tabs">
    <li>
      <a href="javascript:void(0)">
        Questions
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        Results
      </a>
    </li>
  </ul>
</div>
<div class="container-fluid">
  <button type="button" class="btn btn-raised btn-primary" (click)="editTopic()">
    Add Topic
  </button>
  <div class="well well-lg">
    Look, I'm in a large well!!
  </div>
</div>
