<div class="jumbotron">
  <a uiSref="" class="back-link">
    <i class="material-icons">&#xE5CB;</i>
    Back to Topic
  </a>
</div>
<div class="container-fluid">
  <div class="well well-lg">
    <form name="form" #form="ngForm" (ngSubmit)="onSubmit(form, $event);" novalidate>
      <div class="form-group label-floating" [class.is-empty]="!question.title">
        <label class="control-label" for="question">
          Question
        </label>
        <input
          class="form-control"
          type="text"
          id="question"
          name="question-name"
          [(ngModel)]="question.title"
        >
      </div>
      <div class="form-group">
        <label class="control-label" for="question-type">
          Question Type
        </label>
        <select id="question-type" (change)="questionTypeChanged()" name="question-type" class="form-control"
                [(ngModel)]="question.questionType">
          <option value="text">Text</option>
          <option value="image">Image</option>
          <option value="md">Markdown</option>
        </select>
      </div>
      <div class="form-group">
        <label>
          Question Content
        </label>
        <div *ngIf="question.questionType === 'text'">
          <textarea name="question-content" [(ngModel)]="question.content" style="width: 100%;" rows="10"></textarea>
        </div>
        <div *ngIf="question.questionType === 'image'">
          <app-drag-and-drop [img]="question.content || ''" style="width: 100%" (fileChanged)="imageChanged($event)">
          </app-drag-and-drop>
        </div>
        <div *ngIf="question.questionType === 'md'">
          <div class="clearfix">
            <div class="pull-right">
              <a href="https://daringfireball.net/projects/markdown/" target="_blank">
                Markdown Format Help
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <textarea [(ngModel)]="question.content" name="question-content" style="width:100%;" rows="10"></textarea>
            </div>
            <div class="col-sm-6">
              <markdown [data]="question.content"></markdown>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label" for="answers-type">
              Answers
            </label>
            <select id="answers-type" name="answers-type" (change)="answerTypeChanged()"
                    [(ngModel)]="question.answerType" class="form-control">
              <option value="">Select answers type...</option>
              <option value="single_select">Single Choice</option>
              <option value="multi_select">Multiple Choice</option>
              <option value="text">Text</option>
            </select>
          </div>
        </div>
      </div>
      <div *ngIf="question.answerType === 'single_select'">
        <div class="row" *ngFor="let answer of question.answers let index = index">
          <div class="col-md-5 vertical">
            <div class="form-group label-floating" [class.is-empty]="!answer.title">
              <label class="control-label" for="ansewer-title{{index}}">
                Enter Answer
              </label>
              <input
                type="text"
                id="ansewer-title{{index}}"
                name="ansewer-title{{index}}"
                [(ngModel)]="answer.title"
                class="form-control"
                required
              >
            </div>

            <div class="radio radio-primary margin-top-21">
              <label>
                <input
                  type="radio"
                  name="radioAnswers"
                  [value]="answer.id"
                  [(ngModel)]="selectedAnswer"
                  (change)="answerSelectionChanged(answer)"
                >
                <span class="circle"></span>
                <span class="check"></span>
                Correct Answer
              </label>
            </div>

            <div class="margin-left-16 margin-top-5">
              <a role="button" class="text-danger" (click)="removeAnswer(answer)">
                <i class="material-icons">
                  &#xE92B;
                </i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="question.answerType === 'multi_select'">
        <div class="row" *ngFor="let answer of question.answers let index = index">
          <div class="col-md-5 vertical">
            <div class="form-group label-floating" [class.is-empty]="!answer.title">
              <label class="control-label" for="ansewer-title{{index}}">
                Enter Answer
              </label>
              <input
                type="text"
                required
                id="ansewer-title{{index}}"
                name="ansewer-title{{index}}"
                [(ngModel)]="answer.title"
                class="form-control"
              >
            </div>

            <div class="checkbox margin-top-21 margin-left-16">
              <label>
                <input
                  type="checkbox"
                  name="ansewer-check{{index}}"
                  [(ngModel)]="answer._correct"
                  (change)="answerSelectionChanged(answer)"
                >
                <span class="checkbox-material">
                  <span class="check"></span>
                </span>
                Correct Answer
              </label>
            </div>

            <div class="margin-left-16 margin-top-5">
              <a role="button" class="text-danger" (click)="removeAnswer(answer)">
                <i class="material-icons">
                  &#xE92B;
                </i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="question.answerType === 'text'">
        <div class="row" *ngFor="let answer of question.correctAnswer let index = index">
          <div class="col-md-5 vertical">
            <div class="form-group label-floating" [class.is-empty]="!answer.title">
              <label class="control-label" for="ansewer-title{{index}}">
                Enter Answer
              </label>
              <input
                type="text"
                required
                id="ansewer-title{{index}}"
                name="ansewer-title{{index}}"
                [(ngModel)]="answer.title"
                class="form-control"
              >
            </div>

            <div class="form-group label-floating margin-left-16" [class.is-empty]="!answer.title">
              <label class="control-label" for="ansewer-title{{index}}">
                Right Answer
              </label>
              <input
                type="text"
                required
                name="ansewer-value{{index}}"
                [(ngModel)]="answer.value"
                class="form-control"
              >
            </div>

            <div class="margin-left-16 margin-top-5">
              <a role="button" class="text-danger" (click)="removeAnswer(answer)">
                <i class="material-icons">
                  &#xE92B;
                </i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="button" *ngIf="question.answerType" class="btn btn-default btn-sm" (click)="addAnswer()">
          Add Answer
        </button>
      </div>
      <button type="submit" class="btn btn-raised btn-primary">
        Save Question
      </button>
    </form>
  </div>
</div>
